<table>
  <tr>
    <th>Day</th>
    <th>Starting Location</th>
    <th>Ending Location</th>
    <th>Miles </th>
  </tr>
  <% (1..(@itinerary.locations.count - 1)).each do |night| #(1..@itinerary.nights).each do |night| %>
  <tr>
    <td><%= night %></td>
    <td><%= link_to "#{@itinerary.locations[night - 1].name}", location_path(@itinerary.locations[night-1].id) %></td>
    <td><%= link_to "#{@itinerary.locations[night].name}", location_path(@itinerary.locations[night].id) %></td>
    <td><%= (@itinerary.locations[night].dist_from_DC - @itinerary.locations[night -1].dist_from_DC).abs.round() %></td>
  </tr>
  <%end%>
</table>

<%= button_to "Show all itineraries", itineraries_path, method: :get %>
<%= button_to "Change itinerary options", edit_itinerary_path, method: :get %> 
